<template name="HomePage">
    <div class="container">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            </ol>

            <div class="carousel-inner">

                <div class="item active">
                    <img src="images/main-slider2.jpg" alt="Бобслей">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>

                <div class="item">
                    <img src="images/main-slider1.jpg" alt="Биатлон">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>

                <div class="item">
                    <img src="images/main-slider4.jpg" alt="Коньки">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
            </div>


            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>

    <div class="container custom-advantage">
        <div id="advantages">
            <div class="container">
                <div class="same-height-row">
                    <div class="col-sm-4">
                        <div class="box advan-same-height clickable">
                            <div class="icon"><i class="fa fa-heart"></i>
                            </div>

                            <h3><a href="#">We love our customers</a></h3>
                            <p>We are known to provide best possible service ever</p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="box advan-same-height clickable">
                            <div class="icon"><i class="fa fa-tags"></i>
                            </div>

                            <h3><a href="#">Best prices</a></h3>
                            <p>You can check that the height of the boxes adjust when longer text like this one is used in one of them.</p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="box advan-same-height clickable">
                            <div class="icon"><i class="fa fa-thumbs-up"></i>
                            </div>
                            <h3><a href="#">100% satisfaction guaranteed</a></h3>
                            <p>Free returns on everything for 3 months.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="hot">
        <div class="box">
            <div class="container" style="background-color: white">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 style="margin-bottom: 0">PRODUCT</h2>
                        <p style="color: #dd8bc1">----------------------------------------</p>
                    </div>
                </div>

                {{#each line in getListProducts}}
                    {{> _LineProduct line= line}}
                {{/each}}
            </div>
        </div>
    </div>
</template>

<template name="_LineProduct">
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <h3>{{line.Name}}</h3>
            <button class="btn btn-info"><a href="{{line.Link}}">View all product</a></button>
        </div>
        <div class="col-md-9 col-sm-9">
            {{> _Carousel top = line.Top5}}
        </div>
    </div>
</template>

<template name="_Carousel">
    <div id="carousel">
        {{#each product in top}}
            {{> _Product product = product}}
        {{/each}}
    </div>
</template>

<template name="_Product">
    <div><img src="{{product.image}}" width="200px" height="200px" /></div>
</template>