<template name="Header">
    <header class="vn-care vn-care-lg">
        <div class="navbar navbar-default yamm" role="navigation" id="navbar">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand home animated bounce" href="/">
                        <img src="images/logo.png" alt="Obaju logo" class="hidden-xs">
                        <img src="images/logo-small.png" alt="Obaju logo" class="visible-xs">
                        <span class="sr-only">Obaju - go to homepage</span>
                    </a>
                    <div class="navbar-buttons">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-align-justify"></i>
                        </button>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                            <span class="sr-only">Toggle search</span>
                            <i class="fa fa-search"></i>
                        </button>
                        <a class="btn btn-default navbar-toggle" href="{{pathFor 'ShoppingCart'}}">
                            <i class="fa fa-shopping-cart"></i> <span class="hidden-xs">3 items in cart</span>
                        </a>
                    </div>
                </div>
                <!--/.navbar-header -->

                <div class="navbar-collapse collapse" id="navigation">

                    <ul class="nav navbar-nav navbar-left">
                        <li class="active"><a href={{pathFor 'HomePage'}}>Home</a>
                        </li>
                        <li class="dropdown yamm-fw">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Shop <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="yamm-content">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <h5>Decoration</h5>
                                                <ul>
                                                    <li><a href="{{pathFor 'Detail'}}">Khung lưới</a>
                                                    </li>
                                                    <li><a href="{{pathFor 'Detail'}}">Kê gỗ</a>
                                                    </li>
                                                    <li><a href="{{pathFor 'Detail'}}">Bảng treo</a>
                                                    </li>
                                                    <li><a href="{{pathFor 'Detail'}}">Decoration flag</a>
                                                    </li>
                                                    <li><a href="{{pathFor 'Detail'}}">Kẹp gỗ</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-4">
                                                <h5>Lights</h5>
                                                <ul>
                                                    <li><a href="{{pathFor 'Detail'}}">Đèn ngủ</a>
                                                    </li>
                                                    <li><a href="{{pathFor 'Detail'}}">Đèn để bàn</a>
                                                    </li>
                                                </ul>
                                                <h5>Notebooks</h5>
                                                <ul>
                                                    <li><a href="{{pathFor 'Detail'}}">Sổ kế hoạch</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-4">
                                                <h5>Stationery</h5>
                                                <ul>
                                                    <li><a href="{{pathFor 'Detail'}}">Hộp bút</a>
                                                    </li>
                                                    <li><a href="{{pathFor 'Detail'}}">Khung hình</a>
                                                    </li>
                                                </ul>
                                                <h5>Sticker</h5>
                                                <ul>
                                                    <li><a href="{{pathFor 'Detail'}}">Hello Kitty</a>
                                                    </li>
                                                    <li><a href="{{pathFor 'Detail'}}">Rainbow</a>
                                                    </li>
                                                    <li><a href="{{pathFor 'Detail'}}">Siêu nhân Gao</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.yamm-content -->
                                </li>
                            </ul>
                        </li>

                        <!--<li class="dropdown yamm-fw">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Ladies <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="yamm-content">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h5>Clothing</h5>
                                                <ul>
                                                    <li><a href="#">T-shirts</a>
                                                    </li>
                                                    <li><a href="#">Shirts</a>
                                                    </li>
                                                    <li><a href="#">Pants</a>
                                                    </li>
                                                    <li><a href="#">Accessories</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-3">
                                                <h5>Shoes</h5>
                                                <ul>
                                                    <li><a href="#">Trainers</a>
                                                    </li>
                                                    <li><a href="#">Sandals</a>
                                                    </li>
                                                    <li><a href="#">Hiking shoes</a>
                                                    </li>
                                                    <li><a href="#">Casual</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-3">
                                                <h5>Accessories</h5>
                                                <ul>
                                                    <li><a href="#">Trainers</a>
                                                    </li>
                                                    <li><a href="#">Sandals</a>
                                                    </li>
                                                    <li><a href="#">Hiking shoes</a>
                                                    </li>
                                                    <li><a href="#">Casual</a>
                                                    </li>
                                                    <li><a href="#">Hiking shoes</a>
                                                    </li>
                                                    <li><a href="#">Casual</a>
                                                    </li>
                                                </ul>
                                                <h5>Looks and trends</h5>
                                                <ul>
                                                    <li><a href="#">Trainers</a>
                                                    </li>
                                                    <li><a href="#">Sandals</a>
                                                    </li>
                                                    <li><a href="#">Hiking shoes</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="banner">
                                                    <a href="#">
                                                        <img src="images/banner.jpg" class="img img-responsive" alt="">
                                                    </a>
                                                </div>
                                                <div class="banner">
                                                    <a href="#">
                                                        <img src="images/banner2.jpg" class="img img-responsive" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>-->

                        <li class="dropdown yamm-fw">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Template <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="yamm-content">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h5>Shop</h5>
                                                <ul>
                                                    <li><a href={{pathFor 'HomePage'}}>Homepage</a>
                                                    </li>
                                                    <li><a href={{pathFor 'Category'}}>Category</a>
                                                    </li>
                                                    <li><a href={{pathFor 'Detail'}}>Product detail</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-3">
                                                <h5>User</h5>
                                                <ul>
                                                    <li><a href={{pathFor 'Register'}}>Register / login</a>
                                                    </li>
                                                    <li><a href={{pathFor 'Orders'}}>Orders history</a>
                                                    </li>
                                                    <li><a href={{pathFor 'OrderHistory'}}>Order history detail</a>
                                                    </li>
                                                    <li><a href={{pathFor 'Wishlist'}}>Wishlist</a>
                                                    </li>
                                                    <li><a href={{pathFor 'Account'}}>Customer account / change password</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-3">
                                                <h5>Order process</h5>
                                                <ul>
                                                    <li><a href={{pathFor 'ShoppingCart'}}>Shopping cart</a>
                                                    </li>
                                                    <li><a href={{pathFor 'Checkout1'}}>Checkout - step 1</a>
                                                    </li>
                                                    <li><a href={{pathFor 'Checkout2'}}>Checkout - step 2</a>
                                                    </li>
                                                    <li><a href={{pathFor 'Checkout3'}}>Checkout - step 3</a>
                                                    </li>
                                                    <li><a href={{pathFor 'Checkout4'}}>Checkout - step 4</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-3">
                                                <h5>More</h5>
                                                <ul>
                                                    <li><a href="#">FAQ</a>
                                                    </li>
                                                    <li><a href="abcdef">404 page</a>
                                                    </li>
                                                    <li><a href="{{pathFor 'Contact'}}">Contact</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.yamm-content -->
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->

                <div class="navbar-buttons">
                    <div class="navbar-collapse collapse right" id="basket-overview">
                        <a href="{{pathFor 'ShoppingCart'}}" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span class="hidden-sm">3 items in cart</span></a>
                    </div>
                    <!--/.nav-collapse -->

                    <div class="navbar-collapse collapse right" id="search-not-mobile">
                        <button type="button" class="btn navbar-btn btn-primary" data-toggle="collapse" data-target="#search">
                            <span class="sr-only">Toggle search</span>
                            <i class="fa fa-search"></i>
                        </button>
                    </div>

                </div>

                <div class="collapse clearfix" id="search">
                    <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-btn">

                                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>

                            </span>
                        </div>
                    </form>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#navbar -->
        <!-- *** NAVBAR END *** -->
    </header> <!--end header-->
</template>