<template name="SideBar">
    <div class="col-md-3">
        <div class="panel panel-default sidebar-menu">
            <div class="panel-heading">
                <h3 class="panel-title">Categories</h3>
            </div>

            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked category-menu">
                    <li>
                        <a href="#">Decoration <span class="badge pull-right">42</span></a>
                        <ul>
                            <li><a href="#">Khung lưới</a>
                            </li>
                            <li><a href="#">Kệ gỗ</a>
                            </li>
                            <li><a href="#">Bảng treo</a>
                            </li>
                            <li><a href="#">Decoration flags</a>
                            </li>
                            <li><a href="#">Kẹp gỗ</a>
                            </li>
                        </ul>
                    </li>
                    <li class="active">
                        <a href="#">Light  <span class="badge pull-right">123</span></a>
                        <ul>
                            <li><a href="#">Đèn ngủ</a>
                            </li>
                            <li><a href="#">Đèn để bàn</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Notebooks  <span class="badge pull-right">11</span></a>
                        <ul>
                            <li><a href="#">Sổ kế hoạch</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Stationery  <span class="badge pull-right">11</span></a>
                        <ul>
                            <li><a href="#">Hộp bút</a>
                            </li>
                            <li><a href="#">Khung hình</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Sticker  <span class="badge pull-right">11</span></a>
                        <ul>
                            <li><a href="#">Hello Kitty</a>
                            </li>
                            <li><a href="#">Rainbow</a>
                            </li>
                            <li><a href="#">Siêu nhân Gao</a>
                            </li>
                        </ul>
                    </li>

                </ul>

            </div>
        </div>

        <div class="panel panel-default sidebar-menu">

            <div class="panel-heading">
                <h3 class="panel-title">Brands <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Clear</a></h3>
            </div>

            <div class="panel-body">

                <form>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">Armani (10)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">Versace (12)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">Carlo Bruni (15)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">Jack Honey (14)
                            </label>
                        </div>
                    </div>

                    <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>

                </form>

            </div>
        </div>

        <div class="panel panel-default sidebar-menu">

            <div class="panel-heading">
                <h3 class="panel-title">Colours <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Clear</a></h3>
            </div>

            <div class="panel-body">

                <form>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> <span class="colour white"></span> White (14)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> <span class="colour blue"></span> Blue (10)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> <span class="colour green"></span> Green (20)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> <span class="colour yellow"></span> Yellow (13)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> <span class="colour red"></span> Red (10)
                            </label>
                        </div>
                    </div>

                    <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>

                </form>

            </div>
        </div>

        <div class="banner">
            <a href="#">
                <img src="images/banner.jpg" alt="sales 2014" class="img-responsive">
            </a>
        </div>
    </div>
</template>